simple-dialog {
  --dialog-close-h: 30px;
  &[open] {
    &::part(wrapper) {
      z-index: 3000;
    }
  }
  &::part(wrapper) {
  }
  &::part(header) {
    position: relative;
    height:  var(--dialog-close-h);;
  }
  &::part(close) {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
  opacity: 0;
  &[open] {
    z-index: var(--simple-dialog-z-index, 3000);
    opacity: 1;
  }
}
