@-webkit-keyframes play-grd-btn {
  0% {
    background-position: 0px;
  }
  20% {
    background-position: -110px;
  }
  35% {
    background-position: -180px;
  }
  50% {
    background-position: -210px;
  }
  80% {
    background-position: -350px;
  }
  100% {
    background-position: -390px;
  }
}
.fui-app .v--modal-overlay .v--modal-box {
  padding: 1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.fui-app .v--modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.fui-app .el-button--grd {
  --grd-border-radius: 10px;
  --grd-border-width: 3px;
  border: var(--grd-border-width) solid #000;
  background-color: transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  border-radius: var(--grd-border-radius);
  padding: 0;
  border: none;
}
.fui-app .el-button--grd:hover {
  background-color: transparent;
  -webkit-animation: play-grd-btn 1.6s ease-in infinite;
          animation: play-grd-btn 1.6s ease-in infinite;
}
.fui-app .el-button--grd > span {
  width: var(--grd-btn-width);
  height: var(--grd-btn-height);
  line-height: var(--grd-btn-height);
  display: block;
  margin: 3px;
  background-color: var(--grd-bgc, #fff);
  border-radius: calc(var(--grd-border-radius) - var(--grd-border-width));
}

:root {
  --fui-gray-600: #ccc;
  --fui-gray-700: #ddd;
}

.fui-container--dark {
  background: #191919;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(1rem, #111), color-stop(1rem, transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(1rem, #111), color-stop(1rem, transparent));
  background-image: linear-gradient(90deg, #111 1rem, transparent 1rem), linear-gradient(#111 1rem, transparent 1rem);
}

fui-section {
  display: block;
}

fui-section::part(fui-section) {
  --fui-section-border-color: var(--fui-gray-600);
  border: 1px solid var(--fui-section-border-color);
  color: var(--fui-gray-700);
  position: relative;
}
fui-section::part(fui-section)::before {
  bottom: -0.5rem;
  right: -0.5rem;
  border-bottom: 1px solid var(--fui-section-border-color);
  border-right: 1px solid var(--fui-section-border-color);
}
fui-section::part(fui-section)::after {
  top: -0.5rem;
  left: -0.5rem;
  border-top: 1px solid var(--fui-section-border-color);
  border-left: 1px solid var(--fui-section-border-color);
}
fui-section::part(fui-section)::before, fui-section::part(fui-section)::after {
  content: "";
  color: var(--fui-gray-600);
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
}

simple-dialog {
  --dialog-close-h: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  opacity: 0;
}
simple-dialog[open]::part(wrapper) {
  z-index: 3000;
}
simple-dialog::part(header) {
  position: relative;
  height: var(--dialog-close-h);
}
simple-dialog::part(close) {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
simple-dialog[open] {
  z-index: var(--simple-dialog-z-index, 3000);
  opacity: 1;
}